<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julio.station_gas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false">


        <activity android:name=".AtualizarPosto"
            android:label=" "/>
        <activity android:name=".DetalhesPosto"
            android:label=" "/>
        <activity android:name=".AtualizarPrecoList"
            android:label=" "/>

        <activity android:name=".ListaPostos"
        android:label="@string/title_activity_list_preco"/>

        <activity android:name=".InformacoesPosto"
            android:label="@string/app_tela_info_posto" />

        <activity android:name=".Logar"
            android:label="@string/app_tela_logar" />

        <activity android:name=".AtualizarPrecoItem"
            android:label="@string/title_activity_preco_atualizar" />

        <activity android:name=".AdicionarPosto"
            android:label="@string/title_activity_adicionar_posto" />

        <activity android:name=".MainActivity"
            android:label=" ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>